node_modules/
dist/
/coverage/lcov-report/src/errors/BobError.ts.html
/coverage/lcov-report/src/errors/index.html
/coverage/lcov-report/src/errors/MissingRequiredArgumentValue.ts.html
/coverage/lcov-report/src/CommandParser.ts.html
/coverage/lcov-report/src/index.html
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/favicon.png
/coverage/lcov-report/index.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov.info
